@media screen and (max-width: 1319px) {
    button {
        font-family: 'Montserrat', sans-serif;
        color: black;
        font-size: 4.5vw;
        border: 2px solid white;
        border-radius: 6px;
        margin-left: 1%;
    }
}
@media screen and (min-width: 1320px) {
    button {
        font-family: 'Montserrat', sans-serif;
        color: black;
        font-size: medium;
        width: 20%;
        margin-left: 0%;
        margin-right: 0.5vw;
        padding: 0%;
        display: inline-block;
        border: 2px solid white;
        border-radius: 6px;
    }
}
