@media screen and (min-width: 1320px) {
    input {
        font-family: 'Montserrat', sans-serif;
        width: 20%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0%;
        margin-right: 0.5vw;
        padding: 0%;
        display: inline-flex;

        border: 2px solid white;
        border-radius: 6px;
        text-align: center;
        font-size: medium;
    }
}
@media screen and (max-width: 1319px) {
    input {
        font-family: 'Montserrat', sans-serif;
        width: 30%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0%;
        margin-right: 0.5%;
        padding: 0%;
        display: inline-block;

        border: 2px solid white;
        border-radius: 6px;
        text-align: center;
        font-size: 4.5vw;
    }
}