@media screen and (min-width: 1320px) {
    #inputText {
        font-size: large;
        width: auto;
        margin-left: 9vw;
        margin-right: 0.5vw;
        vertical-align: middle;
        margin-bottom: auto;
        margin-top: auto;
        padding: 0%;
        display: inline-flex;
        text-align: right;
    }
}
@media screen and (max-width: 1319px){
    #inputText {
        font-size: 3.5vw;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        vertical-align: middle;
        margin-bottom: 2%;
        margin-top: auto;
        padding: 0%;
        display: inline-block;
        text-align: center;
    }
}